<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/activated.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <title>Evently</title>
</head>

<body>
    <div class="activation">
        <div class="head">Activation</div>
        <div class="body">
            <div class="avatar">
                <img src="/assets/undraw_female_avatar_l3ey (1).png" alt="">
            </div>
            <div class="details">
                <span class="welcome">Hi, Palmira</span>
                <span class="action">SUCCESSFUL</span>
                <span class="message">Your account has been activated successfully</span>
            </div>
            <div class="action">
                <button>ACCESS HERE</button>
            </div>
        </div>

    </div>
</body>

</html>