.activation {
  margin: 0 auto;
  text-align: center;
  width: 30rem;
  height: 40rem;
  box-shadow: black 2px 2px 2px 1px;
}
.head {
  height: 5rem;
  background-color: rgba(24, 24, 85, 0.822);
  color: #fff;
  padding-top: 2rem;
  font-size: 2rem;
  font-family: sans-serif;
}
.body {
  padding: 3rem;
}

.avatar {
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
  margin: auto;
}
.avatar img {
  width: 100%;
}
.welcome {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-family: sans-serif;
}
.action {
  display: block;
  margin: 2rem;
  color: rgba(13, 148, 13, 0.945);
  font-weight: 500;
  letter-spacing: 2px;
}
.message {
  font-family: 'Lato', sans-serif;
}
.action button {
  height: 3rem;
  width: 10rem;
  font-family: 'Lato';
  background-color: rgba(13, 148, 13, 0.945);
  color: #fff;
  font-size: 1rem;
}
