{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Evently",
    "termsOfService": "http://evently.io/terms/",
    "contact": {
      "email": "evently@evently.io"
    },
    "license": {
      "name": "evently",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "evently.io",
  "basePath": "/v1",
  "tags": [
    {
      "name": "Event",
      "description": "Everything about your Events",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://evently.io"
      }
    },
    {
      "name": "Evently",
      "description": "Get a plot in real time"
    },
    {
      "name": "user",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our app",
        "url": "http://evently.io"
      }
    }
  ],
  "schemes": ["https", "http"],
  "paths": {
    "api/event": {
      "post": {
        "tags": ["Event"],
        "summary": "create new event",
        "description": "",
        "operationId": "addEvent",
        "consumes": ["application/json", "application/xml"],
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Event object that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "properties": {
                "event": {
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "How to train your dragon"
                    },
                    "description": {
                      "type": "string",
                      "example": "Ever wonder how?"
                    },
                    "body": {
                      "type": "string",
                      "example": "you have to believe"
                    },
                    "tagList": {
                      "type": "array",
                      "example": ["reactjs", "angularjs", "dragons"]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Evently_auth": ["write:Events", "read:Events"]
          }
        ]
      },
      "get": {
        "tags": ["Event"],
        "summary": "Update an existing Event",
        "description": "",
        "operationId": "updateEvent",
        "consumes": ["application/json", "application/xml"],
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Event object that needs to be added to the store",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "schema": {
              "properties": {
                "event": {
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "How to train your dragon"
                    },
                    "description": {
                      "type": "string",
                      "example": "Ever wonder how?"
                    },
                    "body": {
                      "type": "string",
                      "example": "you have to believe"
                    },
                    "tagList": {
                      "type": "array",
                      "example": ["reactjs", "angularjs", "dragons"]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Event not found"
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "Evently_auth": ["write:Events", "read:Events"]
          }
        ]
      }
    },
    "api/event/{EventId}": {
      "get": {
        "tags": ["Event"],
        "summary": "Find Event by ID",
        "description": "Returns a single Event",
        "operationId": "getEventById",
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "name": "EventId",
            "in": "path",
            "description": "ID of Event to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Event not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": ["Event"],
        "summary": "Updates a Event in the store with form data",
        "description": "",
        "operationId": "updateEventWithForm",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "name": "EventId",
            "in": "path",
            "description": "ID of Event that needs to be updated",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "Updated name of the Event",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "formData",
            "description": "Updated status of the Event",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "Eventstore_auth": ["write:Events", "read:Events"]
          }
        ]
      },
      "delete": {
        "tags": ["Event"],
        "summary": "Deletes a Event",
        "description": "",
        "operationId": "deleteEvent",
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "EventId",
            "in": "path",
            "description": "Event id to delete",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Event not found"
          }
        },
        "security": [
          {
            "Eventstore_auth": ["write:Events", "read:Events"]
          }
        ]
      }
    },
    "/user": {
      "post": {
        "tags": ["user"],
        "summary": "Create user",
        "description": "This can only be done by an Admin.",
        "operationId": "createUser",
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Created user object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully response",
            "schema": {
              "properties": {
                "user": {
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "jake@jake.jake"
                    },
                    "password": {
                      "type": "string",
                      "example": "jakejake"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "get": {
        "tags": ["user"],
        "summary": "Logs user into the system",
        "description": "",
        "operationId": "loginUser",
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "The user name for login",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password for login in clear text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              },
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              }
            }
          },
          "400": {
            "description": "Invalid username/password supplied"
          }
        }
      }
    },
    "/user/logout": {
      "get": {
        "tags": ["user"],
        "summary": "Logs out current logged in user session",
        "description": "",
        "operationId": "logoutUser",
        "produces": ["application/xml", "application/json"],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/{username}": {
      "get": {
        "tags": ["user"],
        "summary": "Get user by user name",
        "description": "",
        "operationId": "getUserByName",
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "The name that needs to be fetched. Use user1 for testing. ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Invalid username supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "tags": ["user"],
        "summary": "Updated user",
        "description": "This can only be done by the logged in user.",
        "operationId": "updateUser",
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "name that need to be updated",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Updated user object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid user supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "tags": ["user"],
        "summary": "Delete user",
        "description": "This can only be done by the logged in user.",
        "operationId": "deleteUser",
        "produces": ["application/xml", "application/json"],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "The name that needs to be deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid username supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "Eventstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://Eventstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:Events": "modify Events in your account",
        "read:Events": "read your Events"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Category"
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "username": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "userStatus": {
          "type": "integer",
          "format": "int32",
          "description": "User Status"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Tag"
      }
    },
    "Event": {
      "type": "object",
      "required": ["name", "photoUrls"],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "category": {
          "$ref": "#/definitions/Category"
        },
        "name": {
          "type": "string",
          "example": "doggie"
        },
        "photoUrls": {
          "type": "array",
          "xml": {
            "name": "photoUrl",
            "wrapped": true
          },
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "array",
          "xml": {
            "name": "tag",
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/Tag"
          }
        },
        "status": {
          "type": "string",
          "description": "Event status in the store",
          "enum": ["available", "pending", "sold"]
        }
      },
      "xml": {
        "name": "Event"
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about evently",
    "url": "http://evently.io"
  }
}
